@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 65.5%; 
  margin: 0 auto;
}

/*=================================
  main styling starts here
=================================*/
.banner {
  padding: 177px 0 75px 0;
  background-image: linear-gradient(90deg, #504B75, #753D78);
}

.banner-content { display: flex; }

h1 {
  padding: 1px 40px 5px 0;
  border-right: 2px solid #6A4F7C;
  flex-basis: 46%;
  color: #fff;
  font-size: 30.5px;
  font-weight: bold;
  letter-spacing: .5px;
  line-height: 43px;
}

h1 a {
  color: #fff;
  text-transform: uppercase;
}

h1 a:hover {
  color: #58198C;
  transition: .3s ease-in-out;
}

.banner-right {
  padding-left: 38px;
  flex-basis: 46%;
}

.banner-right p {
  margin-bottom: 23px;
  color: #B29BB6;
  font-size: 15px;
  font-weight: bold;
  line-height: 21px;
}

.banner-right a {
  border-color: #49BD8B;
  background-color: #49BD8B;
  color: #fff;
  letter-spacing: 1px;
}

.banner-right a:hover {
  background-color: #fff;
  color: #49BD8B;
  transition: .3s ease-in-out;
}

.click-btn {
  padding: 11px 29px;
  border: 1.5px solid #E4E4E4;
  border-radius: 50px;
  background-color: transparent;
  color: #757a87;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: none;
}

.click-btn:hover {
  border-color: #666666;
  background-color: #666666;
  color: #fff;
  transition: .3s ease-in-out;
}

.megna .wrapper {
  padding: 64px 0;
  border-bottom: 2px solid #E4E4E4;
  display: flex;
}

.megna article {
  padding-right: 35px;
  border-right: 2px solid #E4E4E4;
  flex-basis: 46%;
}

h2 {
  margin-bottom: 25px;
  color: #666666;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: .5px;
}

h2 + p {
  margin-bottom: 24px;
  line-height: 25px;
}

h2 + p,
.megna-list li,
.articles p {
  color: #757a87;
  font-size: 12px;
}

h2::first-letter,
h3::first-letter,
.megna-list li::first-letter { text-transform: capitalize; }

.megna-list {
  padding-top: 5px;
  flex-basis: 46%;
}

.megna-list li {
  margin: 0 0 30px 37px;
  display: block;
}

.megna-list li::before {
  content: "\f00c";
  margin-right: 11px;
  color: #49BD8B;
  font-family: fontAwesome;
}

.articles { 
  padding: 64px 0 62px;
  background-color: #FAFAFA;
}

.articles article {
  margin-bottom: 40px;
  display: flex;
  background-color: #fff;
}

.articles figure { 
  flex-basis: 43.5%; 
  position: relative;
}

.articles figure::after {
  content: "\f083";
  position: absolute;
  top: 40%;
  left: 30%;
  color: #942E9B;
  font-family: fontAwesome;
  font-size: 100px;
  transition: .5s linear;
  opacity: 0;
}

.articles figure:hover::after {
  display: block;
  opacity: 1;
}

.article-content { 
  padding: 75px 38px 0; 
  flex-basis: 56.5%;
}

h3 {
  margin-bottom: 25px;
  color: #666666;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: .5px;
}

.articles p { 
  margin-bottom: 24px;
  line-height: 25px; 
}

.megna-btn { text-align: center; }

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

.footer-top .wrapper {
  padding: 64px 0;
  border-bottom: 2px solid #E4E4E4;
  display: flex;
}

.footer-top-left {
  padding-right: 4.4%;
  border-right: 2px solid #E4E4E4;
  flex-basis: 45.5%;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form > div { 
  margin-bottom: 25px;
  flex-basis: 47%; 
}

input { 
  border: 1px solid #E4E4E4;
  padding: 8px 10px; 
}

textarea {
  padding: 8px 10px 78px;
  border-color: #E4E4E4;
  margin-bottom: 25px;
  flex-basis: 100%;
}

.footer-top-right {
  padding-top: 5px;
  flex-basis: 46%;
}

.footer-top-right a, address { color: #757a87; }
.footer-top-right a:hover { color: #753D78; }

.footer-top-right li, address {
  margin: 0 0 19px 37px;
  display: block;
  font-size: 12px;
}

.footer-top-right li::before, address::before {
  margin-right: 11px;
  color: #49BD8B;
  font-family: fontAwesome;
}

address { 
  width: 60%; 
  line-height: 24px;
}

.footer-top-right li:first-child::before { content: "\f099"; }
.footer-top-right li:nth-child(2)::before { content: "\f09a"; }
.footer-top-right li:nth-child(3)::before { content: "\f16d"; }
.footer-top-right li:nth-child(4)::before { content: "\f0e0"; }
address::before { content: "\f015"; }

.footer-bottom {
  padding: 50px 0;
  background-color: #FAFAFA;
  color: #CACACA;
  font-size: 12px;
  text-align: center;
}

.footer-bottom a {
  color: #CACACA;
  text-transform: uppercase;
}

.footer-bottom a:hover { color: #753D78; }

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

.wrapper { width: 80%; }

.banner-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 { 
  padding: 0;
  border-style: none; 
  margin-bottom: 40px;
  font-size: 25px;
  flex-basis: 100%;
  text-align: center;
}

.banner-right {
  padding: 0;
  flex-basis: 100%;
  text-align: center;
}

.megna .wrapper { flex-direction: column; }

.megna article { 
  padding: 0;
  border-style: none;
  margin-bottom: 40px;
  flex-basis: 100%; 
  text-align: center;
}

.megna-list { 
  padding: 0;
  margin: 0 auto; 
  flex-basis: 100%;
}

.megna-list li { margin-left: 0; }
.articles ul { text-align: center; }
.articles article { flex-direction: column; }
.article-content { padding: 20px 10px; }
.footer-top .wrapper { flex-direction: column; }

.footer-top-left { 
  padding: 0;
  border-style: none; 
  margin-bottom: 40px;
  flex-basis: 100%;
  text-align: center;
}

form button { margin: 0 auto; }

.footer-top-right { 
  padding: 0;
  margin: 0 auto; 
}


/*HOVERS */

h1 a:hover { color: #fff; }

.banner-right a:hover {
  background-color: #49BD8B;
  color: #fff;
}

.click-btn:hover {
  border-color: #666666;
  background-color: transparent;
  color: #757a87;
}

.articles figure:hover::after { opacity: 0; }
.footer-top-right a:hover { color: #757a87; }
.footer-bottom a:hover { color: #CACACA; }

/*HOVERS END*/

}  
